.container{
    min-height: 90vh;
}

.formulario {
    width: 75%;
    
}

.invalido{
    color: rgb(245, 134, 134);
}

.valido{
    color: rgb(160, 226, 160);
}


@media (max-width: 992px) {
    .formulario {
      width: 100%;
    }

    .col {
        justify-self: start;
    }
  }