main .contenedor-nosotros{
    background-color: #f9f9f9;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
    min-height: 100%;
    width: 100%;
    padding-bottom: 80px;
  }

main p{
    text-align: justify;
}
.row{
    margin: 0%;
}

.nosotros-primera-seccion {
    height: auto;
    width: 100%;
    padding: 0px;
    position: relative;
    height: calc(100vh );
    background-image: url("../img/nosotros.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
    position: relative;

}

.nosotros-primera-seccion::before {
    content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 1) 100%);
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
  z-index: 1; /* Establece un valor positivo para mostrarlo por encima de la imagen de fondo */
}

.nosotros-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

h2{
    text-align: initial;
}



.contenedor-valores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.valores {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  @keyframes recorrido-circulo {
    0% {
      border-color: #f0f0f0;
    }
    25% {
      border-color: #d0d0d0;
    }
    50% {
      border-color: #a0a0a0;
    }
    75% {
      border-color: #808080;
    }
    100% {
      border-color: #f0f0f0;
    }
  }
  
  .valores:hover {
    animation: recorrido-circulo 2s infinite;
    transform: scale(1.1);
  }
  

.card-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    padding: 6%;
}




.card{
    height: 50vh;
}

.card:hover{
    padding: 0%;
}



h4 {
    justify-content: center;
    text-align: center;
}