


h2{
    text-align: initial;
}


.contenedor-valores{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    gap: 35px;
}


.card{
    text-align: initial;
    
}



h4 {
    justify-content: center;
    text-align: center;
}