

.contenedor {
    width: 100%;
    margin: 0 0;
    background-color: #eee;


}

.header{
    background-color: #a3c7e4; /* Un tono pastel de azul */
    background-image: linear-gradient(135deg, #a3c7e4 0%, #0077be 100%); /* Un gradiente que mezcla el tono pastel con el azul oscuro */  
  }

 

.main{
    padding: 0 0;
}

h2, h3{
    text-align: center;
}

.primera-seccion{
    height: auto;
    padding: 20px;
    background-color: #a3c7e4;
}

.segunda-seccion{
    height: auto;
    min-height: 350px;
    padding: 20px;

    background-color: #a3c7e4; /* Un tono pastel de azul */
    background-image: linear-gradient(135deg, #a3c7e4 0%, #0077be 100%); /* Un gradiente que mezcla el tono pastel con el azul oscuro */
}

.contenedor-imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    min-height: 250px;
    gap: 2%;
    margin: 0;
}

.imagen-card{
    width: 200px;
    height: 200px;

    margin-top: 10px;
    margin-bottom: 10px;
}
.imagen-card:hover{
    width: 220px;
    height: 220px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.imagen-fixed{
    height: 200px;
    width: 200px;
}

.imagen-fixed:hover{
    height: 220px;
    width: 220px;
}

.tercera-seccion{
    height: auto;
    padding: 20px;
    background-color: #ccc;
}


































.footer {
    background-color: #1A1A1A; /* Cambia el color de fondo a lo que desees */
    color: #fff; /* Cambia el color de texto a lo que desees */
    padding: 20px; /* Agrega espacio de relleno para separar el contenido del borde */
    text-align: center; /* Centra el contenido en el pie de página */
    font-size: 14px; /* Define el tamaño de fuente del texto */
  }
  

.footer-parrafo{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0;
}